header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
.header__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 0.8rem;
  left: 0;
  bottom: 3rem;
}
.header__social::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.me {
  width: 24rem;
  height: 41rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 30rem 30rem;
  background: linear-gradient(var(--color-primary), transparent);
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem;
}
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__social,
  .scroll__down {
    display: none;
  }
}
