header {
  height: 100vh;
  width: 100vw;
  padding-top: 3rem;
  overflow: hidden;
  
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  gap: 3rem; 
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;  
  padding: 1rem;
}
.header__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 0.8rem;
  left: 0;
  bottom: 3rem;
}
.header__social::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.me {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 width: 20rem;
 height: 20rem;  
 margin: 0 auto; 
 border-radius: 50%; 
 overflow: hidden;
}


.me img{
  border-radius: 50%;   
  width: 19rem;
 height: 19rem;  
}
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

.me::before{ 
  content: "";
  z-index: -1;
  width: 22rem;
 height: 22rem;  
  position: absolute;
 background: linear-gradient(120deg, var(--color-primary), var(--color-backgroud-var),var(--color-background), var(--color-white));
 animation: me_gradient 5s linear infinite;
 background-size: 300% ;
}
.me::after{ 
  content: "";
  z-index: -1;
  width: 22rem;
 height: 22rem;  
  position: absolute;
 background: linear-gradient(120deg, var(--color-primary), var(--color-backgroud-var),var(--color-background), var(--color-white));
 animation: me_gradient 5s linear infinite;
 background-size: 300% ;
}

@keyframes me_gradient {
  0%{
    background-position: 0% 200%;
  }
  50%{
    background-position: 200% 0%;
  }
  100%{
    background-position: 0% 330%;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
  
}
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__social,
  .scroll__down {
    display: none;
  }
 
}
